*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
/bin/
/CaveStory/
/doukutsu/
/test/
/x2test/
/x4test/
/data/
*.exe
*.exe.bak
*.dat
*.dat.bkp
window.rect
*.log
nolaf
skipuc
/build/
